@page "/create"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

<PageTitle>Add a new project</PageTitle>

<h1>Add a new project</h1>

<MudGrid>
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                    <MudTextField T="string" @bind-Value="Model.Name" Label="Project Name" Variant="Variant.Outlined" Required="true" RequiredError="Name is required!"/>
                    <MudTextField T="string" @bind-Value="Model.Description" Label="Description" Variant="Variant.Outlined" Required="true" RequiredError="Description is required!"></MudTextField>
                    <br />
                    <MudNumericField @bind-Value="Model.FundGoal" Label="Funding goal (ELF)" Variant="Variant.Outlined" Step=".2M"></MudNumericField>
                   
                    <div class="d-flex align-center justify-space-between mt-6">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>
                    </div>
            </MudForm>   
        </MudPaper>
    </MudItem>
</MudGrid>
@code {
    bool success;
    string[] errors = { };
    MudForm form = default!;

}