@page "/project/{id}"
@if (Project == null)
{
    return;
}

<PageTitle>@Project.Name</PageTitle>

<MudContainer Class="mt-16" MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h3" GutterBottom="true" Align="Align.Center">@Project.Name</MudText>

    <MudGrid Spacing="2" Justify="Justify.Center">

        <MudItem>
            <ProjectCard Project="Project"></ProjectCard>
        </MudItem>

 

        <MudItem>
            <MudPaper Class="pa-4">
                <MudChart ChartType="ChartType.Pie" InputData="@data" @bind-SelectedIndex="Index" InputLabels="@labels" Width="300px" Height="300px" />
            </MudPaper>
        </MudItem>

     


    </MudGrid>

    <MudGrid Spacing="2" Justify="Justify.Center">

           <MudItem>
            <h2>Fund this project</h2>
            <MudNumericField @bind-Value="Fund" Label="Donate (ELF)" Variant="Variant.Outlined" Step=".2M"></MudNumericField> ELF
            @if(App.UserViewModel.IsConnected)
            {
                <MudButton Color="Color.Primary" OnClick="FundProject">Fund</MudButton>
            }
            else
            {
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="ConnectWallet">Connect Wallet</MudButton>
            }

        </MudItem>

           <MudItem>
            <FundTable Funders="Funders"></FundTable>
        </MudItem>
    </MudGrid>

</MudContainer>

