@page "/"

<PageTitle>Community funded aelf projects</PageTitle>

<MudContainer Class="mt-16" MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h3" GutterBottom="true" Align="Align.Center">Community funded aelf projects</MudText>
    <MudText Align="Align.Center">Decentralized community funding for aelf projects.</MudText>

    <hr />
    <br />
    <p style="text-align:center">
    <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" OnClick="GoToCreate" />
    <span>Add your project</span>
    </p>

    <MudGrid Spacing="2" Justify="Justify.Center">

        @foreach (var project in App.MainViewModel.Projects)
        {
            <MudItem>
                <ProjectCard Project=project></ProjectCard>
            </MudItem>
        }

    </MudGrid>

    <br />
    <hr />
    <br />
   <MudText Typo="Typo.h4" GutterBottom="true" Align="Align.Center">Latest fundings</MudText>

    <FundTable Funders="App.MainViewModel.Funders"></FundTable>
</MudContainer>
