 <MudSimpleTable Style="overflow-x: auto;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Donated</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TODO</td>
                    <td>1 ELF</td>
                    <td></td>
                </tr>
                <tr>
                    <td>TODO</td>
                    <td>0.410 ELF</td>
                    <td><MudButton>Cancel</MudButton></td>
                </tr>
            </tbody>
        </MudSimpleTable>

@code {

}
