<MudSimpleTable Style="overflow-x: auto;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Donated</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var funder in Funders)
        {
            <tr>
                <td>@funder.Project</td>
                <td>@funder.Address.</td>
                <td>@funder.Amount ELF</td>
                <td><MudButton OnClick="() => Cancel(funder.Project, funder.Amount)">Cancel</MudButton></td>
            </tr>
        }

    </tbody>
</MudSimpleTable>

@code {

}
