@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Elevation="1">
        @*<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />*@
        <MudImage Src="favicon-32x32.png" Alt="Logo" Elevation="25" Class="rounded-lg" />
        <MudText Typo="Typo.h5" Class="ml-3"><a href="/" style="color:white">aelf Funding</a></MudText>
        <MudSpacer />
        <LoginComponent></LoginComponent>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        @*NavMenu*@
    </MudDrawer>
    <MudMainContent>
       @Body
    </MudMainContent>
</MudLayout>
@code {
    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}